/* -----------General styles----------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
    line-height: 1.6;
}

h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #414141;
    margin-bottom: 1rem;
}

/* -----------Header Styles----------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #607466;
    padding: 1rem 2rem;
}

header h1 {
    color: #FFFFFF;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    background-color: #333;
    padding: 0.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover, .active {
    color: #7BD389;
}

/* --------Main Content Styles-------- */

.main-content {
    padding: 2rem;
}

p {
    color: #555;
    font-size: 1rem;
}

img {
    max-width: 50%;
    height: auto;
}

table {
    width: 100%;
    margin-top: 1rem;
    text-align: left;
}

th {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    vertical-align: middle; 
    background-color: #f4f4f4;
    text-align: center;
}

td {
    text-align: center;
}

.message {
    color: #343E3D;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

/* ------------------Home Page--------------------- */

.photo-container {
    width: 100%;
    max-width: 90%;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.photo-container img {
    border-radius: 8px;
    box-shadow: 0 1rem 1.3rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.photo-container h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.photo-container p {
    font-size: 1.1rem;
}

/* --------------PHOTO DETAILS--------------------- */

.photo-details {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.photo-details img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin: 0 auto 1rem auto;
}

.purchase-form {
    margin-top: 1rem;
}

.purchase-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* ---------------GALLERY PAGE---------------- */

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    max-width: 100%;
    margin: 0 auto;
}

.photo-item {
    text-align: center;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.photo-item:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

/* ---------LIMITED_GALLERY PAGE------------ */

.limited-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.8em;
    padding: 1.8em;
    max-width: 100%;
    margin: 0 auto;
}

.photo-card {
    background-color: #0d611349;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.photo-card img {
    max-width: 100%;
}

.leaderboard table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #0d611349;
    border-radius: 10px;
    overflow: hidden;
}

.leaderboard table th, td {
    padding: 12px;
    text-align: center;
}

.leaderboard table th {
    background-color: #7BD389;
    color: #343E3D;
}

.leaderboard table td {
    border-bottom: 1px solid #AEDCC0;
}

.leaderboard table tr:last-child td {
    border-bottom: none;
}

.leaderboard table tr:hover {
    background-color: #AEDCC0;
    color: #343E3D;
}

/* -------------CART CONTAINER------------- */

.cart-container table {
    width: 100%;
}

.cart-container table th {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    vertical-align: middle; 
    background-color: #f4f4f4;
    text-align: center;
}

.cart-container table td {
    text-align: center;
}

.cart-container {
    width: 70%;
    min-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background: white;
    box-shadow: 0 0.25rem 0.35rem rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 1rem;
}

.cart-container a {
    padding: 0.8rem 1.2rem;
    color: #fff;
    background-color: #7BD389;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cart-container a:hover {
    background-color: #AEDCC0;
    color: #343E3D;
}

/* ------------Cart Items--------------- */


.cart-item img {
    max-width: 15em;
    border-radius: 4px;
    margin-right: 1.5rem;
}



/* ---------------Search Styling----------------- */

.search-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.search-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.search-container select, input[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input[type="submit"] {
    background-color: #0074D9;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0657a2;
}

/*  -----------------ADMIN SECTION----------------- */
/* -------------------Dashboard---------------- */

.dashboard {
    max-width: 65%;
    margin: 2.5rem 1rem;
    padding: 1.25rem;
    background-color: #0d611349;
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.384);
}

.dashboard td a {
    display: inline-block;
    padding: 6px 12px;
    background-color: #7BD389;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.dashboard td a:hover {
    background-color: #87c892;
}


/* ------------------Upload Form----------------- */

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1em; 
    max-width: 36%;
    margin: 0 auto; 
    padding: 1.3em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

.form-container input, select, textarea {
    padding: 0.8em;
    font-size: 1em;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    width: 100%;
}

.form-container ~ p {
    display: flex;
    width: 34%;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #11538c;
    margin: 0 31.2%;
}

.form-container ~ p a {
    color: white;
    text-decoration: none;
}

.form-container ~ p a:hover {
    background: #0657a2;
}

/* ---------------------Manage Photos Form---------------------- */

.photos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); /* Max 3 images per row */
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.photo-card {
    background: white;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.photo-img {
    width: 100%;
    max-height: 15rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.photo-info h3 {
    color: red;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.photo-info p {
    font-size: 1rem;
    margin: 0.25rem 0;
}

.photos-container input {
    width: 100%;
    padding: 0.75rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}


/* ------------Footer Styles---------------- */

footer {
    text-align: center;
    padding: 1.25rem;
    background-color: #607466;
    color: #AEDCC0;
    font-size: 0.9rem;
}


/* --------------FLASH MESSAGES--------------- */

.flash-messages {
    position: fixed;
    list-style: none;
    padding: 0;
    top: 0.7em;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
    text-align: center;
    z-index: 1000;
}

.flash {
    padding: 0.7em;
    margin: 0.3em 0;
    border-radius: 5px;
    font-weight: bold;
}

.flash.success {
    background-color: #70d18080;
    color: white;
}

.flash.error {
    background-color: #fe414170;
    color: white;
}


